.navbar 
   .search-container
      input(type=text placeholder="search movies/directors")
   .navbar-links
      .navbar-link
         a(href="/") Home
      .navbar-link
         a(href="/directors") Directors
      .navbar-link
         a(href="/movies") Movies
      .navbar-link
         a(href="/genres") Genres
   .my-profile
      a(href="/my-profile") My Profile