doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
    block styles
    script(src="https://unpkg.com/htmx.org")
  body
    block content
    .footer
      <a href="http://www.freepik.com">Background designed by dgim-studio / Freepik</a>
